<% provide(:title, '買い物かご') %>
<h1>買い物かご</h1>

<ul class="carts">
<table>
    <tr>
    <th>　商品番号</th>
    <th>　　商品名</th>
    <th>　　価格</th>
    <th>　　個数</th>
    </tr>
<% @purchases.each do |purchase| %>
    <tr>
    <td><p>　　<%= purchase.product_id %></p></td>
    <td>　　<%= link_to purchase.product.name, product_path(purchase.product.id) %></td>
    <td><p>　　<%= purchase.product.price %>円</p></td>
    <td><p>　　<%= purchase.quantity%>個</p></td>
    <td>　　<%= link_to "買い物かごから削除", cart_path(purchase.product.id), method: :delete,
    data: { confirm: "本当に削除してよろしいでしょうか？" } %></td>
    </tr>
    <% end %>
    </table>
</ul>

<h2>合計金額　<%= @total %>円</h2>

<%= button_to "購入に進む", sends_new_path, :method => 'get' %>

<%= link_to "一覧に戻る", products_path %>