<% provide(:title, @product.name) %>
<h1><%= @product.name %></h1>

<h2>商品説明</h2><p><%= @product.explanation %></p>
<h2>価格</h2><p><%= @product.price %>円</p>
<h2>現在の在庫</h2><p><%= @product.stock %>個</p>

<% if current_user.admin? %>
  <br>
  <%= button_to "商品情報を更新する", edit_product_path, :method => 'get' %>

  <% else %>
<%= form_with model: Purchase.new, url: carts_path, local: true do |f| %>
  <%= f.hidden_field :product_id, :value =>@product.id %>
  <%= f.hidden_field :quantity, :value =>1 %>
<%= f.submit "買い物かごに追加", class: "btn btn-primary" %>
   <% end %>

   <% end %>  
<%= link_to "商品一覧に戻る", products_path %>